/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --bg: #f4f6fb;
  --card-bg: #ffffff;
  --text: #1f2937;
}

/* BODY */
body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* MAIN CONTAINER */
.app-container {
  width: 500%;
  max-width: 900px;
  background: var(--card-bg);
  padding: 250px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* HEADINGS */
h1, h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

/* INPUTS */
input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
}

/* BUTTON */
button {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: var(--primary-hover);
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* RESULT BOX */
.result-box {
  margin-top: 20px;
  padding: 16px;
  background-color: #eef2ff;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}

/* ERROR */
.error {
  color: #dc2626;
  text-align: center;
  margin-top: 10px;
}

/* MOBILE */
@media (max-width: 500px) {
  .app-container {
    padding: 25px;
  }

  h1 {
    font-size: 1.6rem;
  }
}

nav {
  
  padding: 16px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 50px;
  padding-left: 150px;
}

